# Virtual Environment
venv/
.venv/
ENV/
env/

# Python Cache & Testing
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
!terraform.tfvars.example

# IDEs & System
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
